/*hero image*/
.hero-image{
  position:relative;
  width:100%;
  height:70vh;/*windows viewport height*/
  overflow:hidden;/*scroll bar*/
background:url("http://res.cloudinary.com/simpleview/image/upload/v1486505969/clients/vancouverbc/Aerial_Sunset_Vancouver_d3_copy_1bb86ed0-1edc-4cda-841d-0b033ca0bb72.jpg") no-repeat center;
  background-size:cover;
}

/* Content */
.img-wrapper{
  display:flex;/*gives containers*/
  flex-direction:row;/*stacks side by side*/
  width:40%;
}
/*map*/
.img-wrapper img{
  width:100%;
  height:100%;
}

.content-wrapper{
  flex-direction:row;
  width:60%;
}
/*contains the image /content wrapper*/
.main-wrapper{
  display:flex;
}
.geography{
  margin-top:25px;
}


